#app{
  font: 14px 'Helvetica Neue', helvetica, Arial, sans-serif;
  color: #d4d4d4;
  min-width: 550px;
  max-width: 850px;
  margin:  0 auto;
}

a.active{
  color: orange;
}

nav {
  padding-top: 20px;
}


